<h1>Now Editing...</h1>
<h2><%=@post.name%></h2>
<p>
  <%=@post.content%>
</p>

<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch" />
  <input type="text" name="name" id="name" />
  <input type="text" name="content" id="content" />
  <input type="submit" value="Update" id="submit" />
</form>
